*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  width: 100%;
  height: 100vh;
  background: white;
}

body{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 30px 1fr;
  align-items: top;
  grid-template-areas: 
  "title title"
  "info info"
  "sidebar content"
  "footer footer";
}

.info{
  position: absolute;
  padding-top: 150px;
  padding-right: 40px;
  position: absolute;
}

.slider {
  position: relative;
  z-index：-99999;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index：-1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  z-index：-1;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 0;
  transform: translateX(720px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  transform: rotate(225deg);
  position: absolute;
  top: 50%;
  right: 50px;
}

.buttons button#prev {
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50px;
}

.buttons button {
  width: 30px;
  height: 30px;
  float: left;
  box-shadow: -3px 3px 0 rgba(255,255,255,1);
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
}

.buttons button:hover {
  box-shadow: -3px 3px 0 rgba(80,80,80,1);
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
  .buttons button#next{
  display: none;
  }
  .buttons button#prev{
  display: none;
  }

}

/* Backgorund Images */
 
.slide:first-child {
  background: url('img/2.mov') no-repeat
    center top/cover;
}
.slide:nth-child(2) {
  background: url('img/1.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('img/1.mov') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('img/6.jpg') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('img/4.jpg') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('img/2.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(7)  {
  background: url('img/3.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(8)  {
  background: url('img/5.jpg') no-repeat
    center center/cover;
}
.slide:nth-child(9)  {
  background: url('img/2.mp4') no-repeat
    center center/cover;
}

.footer{
    grid-area: footer;
    justify-self: start;
    align-self:  end;
    padding-left: 40px;
    padding-bottom: 20px;
    z-index: 99998;
    padding-bottom: 45px;
}

@font-face {
  src: url(fonts/OpenSans-Regular.ttf)
  font-family: 'Open Sans', sans-serif;
}

.paragraph{
  font-size: 19px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  color: black;
	float: left;
	margin-left: 0;
	margin-right: 50%;
	margin-bottom: 20px;
}

.clock{
  font-size: 19px;
  line-height: 26px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  position: fixed;
}

.wrapper{
  position: absolute;
  margin: auto auto auto auto;
  width: 227px;
  z-index: 99999;
  position: fixed;
}

nav{
  width: 100%;
  height: 100px;
}

ul{
  margin-left: 0px;
}

ul li{
  padding-top: 30px;  
  padding-left: 40px;
  list-style: none;
  display: inline-block;
  float: left;
}

ul li a{
  display: block;
  text-decoration: none;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding: 0 0;
}

ul li a:hover{
  color: #505050;
}

.left {
  position: absolute;
  background-color:transparent;
  padding-left:25%;
  padding-right:0px;
  padding-top:115px;
  padding-bottom:80px;
  float:left;
  width:895px; /* The width is 20%, by default */
  z-index: 99997;
}

.top {
  position: absolute;
  background-color:transparent;
  padding-left:25%;
  padding-top:29px;
  float:left;
  z-index: 99998;
  position: fixed;
}

@media (max-width: 895px) {
  .left {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-left:15px;
    padding-right:15px;
    padding-top:115px;
  }
  ul li{
    padding-left: 15px;
  }
  .footer{
    padding-left: 15px;
  }
  .clock{
    display: none;
  }
  .buttons button#next{
    right: 25px;
  }
  .buttons button#prev{
    left: 25px;
  }
  .top {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-left:15px;
    padding-right:15px;
    padding-top:70px;
  }
}

p1{
  font-size: 21px;
  line-height: 29px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

p2{
  font-size: 21px;
  line-height: 29px;
  font-family: "Times New Roman", Times, serif;
  color: #505050;
  font-style: oblique; 
  font-variant: normal;
}

h1{
  font-size: 35px;
  line-height: 43px;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

a.link{
  color: 313131;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 19px;
}

a.link:hover{
  color: #505050;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 19px;
}

a.infolink{
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 19px;
}

a.infolink:hover{
  color: #505050;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 19px;
}



