*
{
	margin: 0;
	padding: 0;
}
body{
	background: white;
	height: 100vh;
	color: black;
	text-decoration: none;
	font-size: 35px;
	 line-height: 1.25;
}
footer{
	 line-height: 0.7;
}
.main-nav{
	float: left;
	list-style: none;
	margin-top: 30px;
	margin-bottom: 60px;
}

.main-nav li a{
	color: black;
	text-decoration: none;
	padding: 2px 50px;
   font-family: 'MetropolisRegular'; 
   font-weight: normal; 
   font-style: normal; 
	font-size: 25px;
}





.main-arti{
	float: left;
	list-style: none;
	margin-top: 40px;
}
.main-arti li{
	display: inline-block;
}




h1{
	text-transform: none;
font-family: courier-std, monospace;
font-style: normal;
font-weight: 400;
	font-size: 58px;
	float: left;
	margin-left: 50px;
	margin-right: 200px;
}


