html, body{
        padding-top: 0.2em;
        text-alignment: left;
        width: 95%;
        margin: 0 auto;

@font-face {
        font-family: 'Lausanne-500'
        src: url(fonts/Lausanne-500.ttf)
        font-style: normal;
        font-weight:200;
}


p{
        font-family: Lausanne-500;
        font-weight: 200;
}
}




