*{
	margin: 0px;
  padding: 0px;
  background-color: black;
}


.top-container {
    background-color: #f1f1f1;
    padding: 0px;
  }
  
  .header {
    padding-left: 13.4%;
    padding-right: 13.4%;
    padding-top: 80px;
    background: none;
    color: #f1f1f1;
  }
  
  .content {
    padding-left: 38%;
    padding-right: 13.4%;
    padding-top: 80px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

p1{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    color: white;
    margin-left: 35px;
  font-weight: 400;
  line-height: 24px;
  background-image:none;
  background-color:transparent;
  }
  
  p2{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    color: white;
  font-weight: 700;
  line-height: 24px;
  background-image:none;
  background-color:transparent;
  }
  
  p3{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    color: white;
  font-weight: 400;
  line-height: 24px;
  background-image:none;
  background-color:transparent;
  }
  
  p4{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    color: white;
  font-weight: 700;
  line-height: 24px;
  background-image:none;
  background-color:transparent;
  }
  
  p5{
    font-family: 'Karla', sans-serif;
    font-size: 64px; 
    color: white;
  font-weight: 700;
  line-height: 58px;
  background-image:none;
  background-color:transparent;
  }

  p6{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    font-style: italic; 
    color: rgb(156, 154, 162);
  font-weight: 400;
  line-height: 24px;
  background-image:none;
  background-color:transparent;
  }

  p7{
    font-family: 'Karla', sans-serif;
    font-size: 32px; 
    color: white;
  font-weight: 400;
  line-height: 36px;
  background-image:none;
  background-color:transparent;
  }


  p8{
    font-family: 'Karla', sans-serif;
    font-size: 32px; 
    color: rgb(156, 154, 162);
  font-weight: 400;
  line-height: 36px;
  background-image:none;
  background-color:transparent;
  }

  p9{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    color: white;
    text-decoration: none;
    border-width: 0 0 1px;
    border-style: solid;
    margin-left: 35px;
  font-weight: 400;
  line-height: 23px;
  background-image:none;
  background-color:transparent;
  }
  
  
  a.link{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    text-decoration: none;
  line-height: 27px;
  background-image:none;
  background-color:transparent;
  }
  
  a.link:hover{
    font-family: 'Karla', sans-serif;
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    text-decoration: none;
      border-width: 0 0 1px;
      border-style: solid;
  line-height: 27px;
  background-image:none;
  background-color:transparent;
  }
  
  a.logolink{
    font-family: 'Karla', sans-serif;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    text-decoration: none;
      border-width: 0 0 1px;
      border-style: solid;
  line-height: 30px;
  background-image:none;
  background-color:transparent;
  }
  
  a.logolink:hover{
    font-family: 'Karla', sans-serif;
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    text-decoration: none;
      border-width: 0 0 0;
      border-style: solid;
  line-height: 30px;
  background-image:none;
  background-color:transparent;
  }
  
  
  a.navlink{
    font-family: 'Karla', sans-serif;
    font-size: 14.5px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    text-decoration: none;
      border-width: 0 0 1px;
      border-style: solid;
  line-height: 19px;
  background-image:none;
  background-color:transparent;
  }
  
  a.navlink:hover{
    font-family: 'Karla', sans-serif;
    font-size: 14.5px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    color: white;
    text-decoration: none;
      border-width: 0 0 0;
      border-style: solid;
  line-height: 19px;
  background-image:none;
  background-color:transparent;
  }
  
  ::selection {
    background: white; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: white; /* Gecko Browsers */
  }
  
  